<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - L&K</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PAGINA_WEB_LUZ.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="profile-picture">
                        <img src="https://i.pinimg.com/564x/07/94/88/079488be9f1d2d145ce4c13030bb3b2f.jpg" alt="Descripción de la imagen">
                    </div>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Privacy">Nosotros</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
<script>
    function agregarAlCarrito(productoId) {
       var cantidad = document.getElementById(`cantidad${productoId}`).value;
        console.log(`Producto ${productoId} agregado al carrito (${cantidad} unidad(es))`);
  
    
    }
</script>
    <footer class="bg-dark text-light text-center py-3">
        <div class="container">
            &copy; 2023 - L&K - <a asp-area="" asp-controller="Home" asp-action="Privacy">Nosotros</a>
        </div>
        
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Contacto</h4>
                <p>Dirección: STAR</p>
                <p>Email: Vapes@email.com</p>
                <p>Teléfono: +123 456 789</p>
            </div>
            <div class="col-md-6">
                <h4>Síguenos</h4>
                <a href="#" class="text-light">Facebook</a>
                <span class="mx-2">|</span>
                <a href="#" class="text-light">Twitter</a>
                <span class="mx-2">|</span>
                <a href="#" class="text-light">Instagram</a>
            </div>
        </div>
    </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
