@{
    ViewData["Title"] = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script src="~/js/site.js" asp-append-version="true">
      var cantidadInput = $(".cantidad[data-id=" + id + "]");
    
    if (cantidadInput.length > 0) {
        var cantidad = cantidadInput.val();
        
        if (cantidad && cantidad > 0) {
            console.log("Agregado al carrito - ID: " + id + ", Cantidad: " + cantidad);
        } else {
            alert("Por favor, ingresa una cantidad válida.");
        }
    } else {
        alert("No se encontró el elemento de cantidad para el ID: " + id);
    }
    }
  
  </script>
  
<div class="text-center">
    <h1 class="display-4">¡Bienvenido a nuestra Tienda de Vapes!</h1>
    <p>Descubre nuestra selección exclusiva de vapes premium.</p>
</div>
 <section class="row">
    <div class="col-sm-4">
        <div class="card">
            <img src="https://i.pinimg.com/564x/15/71/79/1571795dd339e5bbf01afed3cd9b45bf.jpg" alt="Vape 1" class="img-fluid">
             <h2>Vape Elegance</h2>
            <p>Experimenta la elegancia pura con nuestro Vape Elegance. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Precio: S/49.99</p>
            <label for="cantidad">Cantidad:</label>
            <input type="number" class="cantidad" name="cantidad" min="1" value="1">
            <button onclick="agregarAlCarrito(1)">Agregar al carrito</button>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <img src="https://i.pinimg.com/564x/c6/81/bd/c681bda19d9a533268b6a5f4b114a780.jpg" alt="Vape 2" class="img-fluid">
            <h2>Vape Naranja</h2>
            <p>Descripción del Vape Naranja. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Precio: S/40.00</p>
            <label for="cantidad">Cantidad:</label>
            <input type="number" class="cantidad" name="cantidad" min="1" value="1">
             <button onclick="agregarAlCarrito(2)">Agregar al carrito</button>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <img src="https://i.pinimg.com/564x/1f/e5/7f/1fe57f8384f810ed41463b66b48f1e32.jpg" alt="Vape 3" class="img-fluid">
            <h2>Vape Uva</h2>
            <p>Descripción del Vape Uva. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Precio: S/60.00</p>
            <label for="cantidad">Cantidad:</label>
            <input type="number" class="cantidad" name="cantidad" min="1" value="1">
            <button onclick="agregarAlCarrito(3)">Agregar al carrito</button>
        </div>
    </div>
<br>

    <div class="col-sm-4">
        <div class="card">
            <img src="https://i.pinimg.com/564x/f2/c5/b0/f2c5b0e583eaa15de3552227a1c248cc.jpg" alt="Vape 1" class="img-fluid">
            <h2>Vape Dulce</h2>
            <p>Descripción del Vape Dulce. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Precio: S/50.00</p>
            <label for="cantidad">Cantidad:</label>
            <input type="number" class="cantidad" name="cantidad" min="1" value="1">
             <button onclick="agregarAlCarrito(4)">Agregar al carrito</button>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <img src="https://i.pinimg.com/564x/a9/40/9a/a9409a0f069125717f2b143fc4440297.jpg" alt="Vape 2" class="img-fluid">
            <h2>Vape Arandanos y Ciruela</h2>
            <p>Descripción del Vape Arandanos y Ciruela Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Precio: S/46.00</p>
            <label for="cantidad">Cantidad:</label>
            <input type="number" class="cantidad" name="cantidad" min="1" value="1">
             <button onclick="agregarAlCarrito(5)">Agregar al carrito</button>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <img src="https://i.pinimg.com/564x/a1/cf/17/a1cf174fba6e822fbdf8c23408211622.jpg" alt="Vape 3" class="img-fluid">
            <h2>Vape Arandanos</h2>
            <p>Descripción del Vape Arandanos. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Precio: S/70.00</p>
            <label for="cantidad">Cantidad:</label>
            <input type="number" class="cantidad" name="cantidad" min="1" value="1">
             <button onclick="agregarAlCarrito(6)">Agregar al carrito</button>
        </div>
    </div>
</section>

