@{
    ViewData["Title"] = "Conocenos!!";
}
<h1>@ViewData["Title"]</h1>


<div class="card">
    <h2>Nosotros</h2>
    <p>Somos una tienda dedicada a proporcionar productos de alta calidad para los amantes de los vapes. Nuestra misión es...</p>
</div>

<div class="card">
    <h3>Misión</h3>
    <p>Ofrecer productos de vaporización de primera calidad que superen las expectativas de nuestros clientes, brindando una experiencia única y satisfactoria.</p>
</div>

<div class="card">
    <h3>Visión</h3>
    <p>Convertirnos en la principal tienda de referencia para los aficionados a la vaporización, ofreciendo una amplia variedad de productos y un servicio excepcional.</p>
</div>

<div class="card">
    <h3>Valores</h3>
    <ul>
        <li>Calidad: Comprometidos con la excelencia en cada producto que ofrecemos.</li>
        <li>Satisfacción del cliente: Priorizamos la satisfacción y la experiencia positiva de nuestros clientes.</li>
        <li>Innovación: Buscamos constantemente nuevas y emocionantes incorporaciones a nuestra selección de productos.</li>
    </ul>
</div>

