@{
    ViewData["Title"] = "VAPES-SHOP";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<section class="row justify-content-center">
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card bg-light">
            <h2 class="card-title text-primary">Nosotros</h2>
            <p class="card-text">Somos una tienda dedicada a proporcionar productos de alta calidad para los amantes de los vapes. Nuestra misión es...</p>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card bg-light">
            <h3 class="card-title text-success">Misión</h3>
            <p class="card-text">Ofrecer productos de vaporización de primera calidad que superen las expectativas de nuestros clientes, brindando una experiencia única y satisfactoria.</p>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card bg-light">
            <h3 class="card-title text-info">Visión</h3>
            <p class="card-text">Convertirnos en la principal tienda de referencia para los aficionados a la vaporización, ofreciendo una amplia variedad de productos y un servicio excepcional.</p>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card bg-light">
            <h3 class="card-title text-warning">Valores</h3>
            <ul class="list-unstyled">
                <li>Calidad: Comprometidos con la excelencia en cada producto que ofrecemos.</li>
                <li>Satisfacción del cliente: Priorizamos la satisfacción y la experiencia positiva de nuestros clientes.</li>
                <li>Innovación: Buscamos constantemente nuevas y emocionantes incorporaciones a nuestra selección de productos.</li>
            </ul>
        </div>
    </div>
</section>

<style>
    h1 {
        color: #333;
    }

    section.row {
        margin-top: 40px;
    }

    .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h2, h3 {
        color: #333;
    }

    ul {
        padding: 0;
    }

    li {
        margin-bottom: 8px;
    }

    .text-primary {
        color: #007bff;
    }

    .text-success {
        color: #28a745;
    }

    .text-info {
        color: #17a2b8;
    }

    .text-warning {
        color: #ffc107;
    }
</style>
