/* _content/PAGINA_WEB-LUZ/Views/Home/Privacy.cshtml.rz.scp.css */
/* _content/PAGINA_WEB-LUZ/Views/Shared/_Layout.cshtml.rz.scp.css */

a.navbar-brand[b-tyltderle3] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-tyltderle3] {
  color: #0077cc;
}

.btn-primary[b-tyltderle3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-tyltderle3], .nav-pills .show > .nav-link[b-tyltderle3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-tyltderle3] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-tyltderle3] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-tyltderle3] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-tyltderle3] {
  font-size: 1rem;
  line-height: inherit;
}

body[b-tyltderle3] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}


main[b-tyltderle3] {
  flex: 1; 
  padding: 20px;
}

footer[b-tyltderle3] {
  background-color: #343a40; 
  color: #fff; 
  text-align: center;
  padding: 20px;
}

footer a[b-tyltderle3] {
  color: #fff; 
  text-decoration: none;
}

footer a:hover[b-tyltderle3] {
  text-decoration: underline; 
}
